/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
/storage/orders.in.json/1ordenes/*.json
/storage/orders.in.json/1ordenes/errores/*.json
/storage/orders.in.json/2validando/*.json
/storage/orders.in.json/2validando/errores/*.json
/storage/orders.in.json/2validando/xrevalidar/*.json
/storage/orders.in.json/3porenviar/*.json
/storage/orders.in.json/3porenviar/errores/*.json
/storage/orders.in.json/4enviadas/*.json
/storage/orders.in.json/4enviadas/errores/*.json
